.bash_history
.bashrc
.conda/
.snakemake/
results/
.zhistory
.phylogenomics_setup.done
log/
!log/.gitkeep
.usr_tmp/
checkpoints/
hat3.seed
pre
data/assemblies/
!data/assemblies/.gitkeep
playground/
.add_genomes.done
.conda_pkg_tmp/
.report.log
data/config.yaml
numerical_underflow/
doc/_build/
doc/.DS_Store
doc/*/.DS_Store
