__default__:
   time: "72:00:00"
   ntasks: 1
   cpus-per-task: 1
   job-name: default
   mem: 4G
   partition: mem_0096 
   qos: mem_0096
   output: $(pwd)/log/slurm-%j.out
   error: $(pwd)/log/slurm-%j.err
#### setup ####
download_genome_overview:
   job-name: dloverview
download_genomes:
   job-name: dlgenomes
   time: "01:00:00"
   mem: 2G
rename_assemblies:
   job-name: renasse
download_busco_set:
   job-name: dlbuscoset
get_genome_download_statistics:
   job-name: ggendlstat
setup:
   job-name: SETUP
###################
#### orthology ####
busco:
   job-name: rBUSCO
   mem: 16G
aggregate_orthology:
   job-name: aggorth 
extract_orthology_table:
   job-name: exOrth
   mem: 12G
orthology:
   job-name: ORTHOLOGY
###################
#### filter-orthology ####
create_sequence_files:
   job-name: exSeqfiles
   mem: 12G
remove_duplicated_sequence_files:
   job-name: remdupseq
   mem: 12G
filter_orthology:
   job-name: FILTORTH
##########################
#### align ####
mafft:
   job-name: mft
   time: "02:00:00"
   mem: 10G
clustalo:
   job-name: clo
   time: "02:00:00"
   mem: 10G
aggregate_alignments:
   job-name: aggalgn
   mem: 4G
   time: "05:00:00"
get_alignment_statistics:
   job-name: getalnstat
   mem: 4G
   time: "02:00:00"
align:
   job-name: ALIGN
   time: "00:00:10"
#############
#### filter-align ####
trimal:
   job-name: trimal
   mem: 10G
   time: "02:00:00"
aliscore:
   job-name: aliscore
   mem: 20G
   time: "24:00:00"
get_trimmed_statistics:
   job-name: gettristat
filter_alignments:
   job-name: filtalgn
get_filter_statistics:
   job-name: getfilstat 
filter_align:
   job-name: FILTALGN
######################
#### modeltest ####
iqtree_mt:
   job-name: mt
   mem: 64G
aggregate_best_models:
   job-name: aggmodels
   mem: 10G
modeltest:
   job-name: MODELTEST
###################
#### mltree ####
raxmlng:
   job-name: raxmlng
   mem: 94G
prepare_iqtree:
   job-name: prepiqt
iqtree:
   job-name: iqtree
   mem: 94G
partition_alignment:
   job-name: partalgn
   mem: 10G
mltree:
   job-name: MLTREE
###############
#### speciestree #### 
astral:
   job-name: astral
   mem: 48G
aggregate_gene_trees:
   job-name: agg_gt
speciestree:
   job-name: SPECIESTREE
####################
#### njtree ####
quicktree:
   job-name: quicktree
   mem: 16G
njtree:
   job-name: NJTREE
################
#### Utility rules ####
concatenate:
   job-name: concat
   mem: 8G


