# general settings:
species: "data/data.plathy.csv"
email: "your.email@domain.com" #this is used during genome download to communicate with the NCBI database.
concurrency: 20 # certain steps can be divided into batches to speed up computation. Here you can give the number of batches.
seed: "1987" #(optional) random seed number to increase reproducibility of iqtree and raxml runs. default: none (=random).
 
# settings related to busco
orthology:
    method: "busco"
    threads: 10
    exclude: "data/exclude.focus_Neodermata.csv"
    busco_options:
        set: "metazoa_odb10"
        version: "5.2.1" #possible is "3.0.2" or "5.2.1"
        mode: "genome"
        augustus_species: #Together with BUSCO 5 this is optional and will use augustus instead of metaeuk. Mandatory for BUSCO 3 (there is no metaeuk)
        additional_parameters: ""

# Setting filtering options for orthology and alignments:
# ---- Orthology results can be filtered based on two settings cutoff and minsp: ----
# cutoff = the minimum proportion of single-copy BUSCO sequences a sample needs to have for it to be included in subsequent analysis. Default: 0.5 (50% single copy BUSCOs)
# minsp = the minimum number of samples which need to have a specific BUSCO gene for the gene to be included in subsequent analysis. Default: 3 (at least three species need to have the gene)
# ---- Trimmed alignments can be additionally filtered ----
# dupseq = occasionally BUSCO will find more than one sequence for a single-copy BUSCO gene. With dupseq you can decide how this is handeled. dupseq="persample" for each busco filter out the samples with duplicated sequences. dubseq="perfile" filters out the BUSCO sequence file for that gene.
# min_parsimony_sites = the minimum number of parsiomony informative sites a trimmed alignment needs to have for it to be included in tree calculation.

filtering:
    dupseq: "persample"
    cutoff: 0.2
    minsp: 30
    seq_type: "aa"
    exclude_orthology: "data/exclude.focus_Neodermata.csv" #"data/exclude.small_outgroup.csv"

genetree_filtering:
    bootstrap_cutoff: [50,60,70,80] # Minimum mean Bootstrap support gene trees need to have to be included in the species tree. Default: 0 = No cutoff (all trees will be included)

# settings related to alignment and trimming
alignment:
    method: ["clustalo","mafft","muscle"] #, "clustalo", "muscle"]
    threads: 2
    options:
        mafft: "--quiet --auto"
        clustalo: ""
        muscle: ""

# possible trimming options: trimal, aliscore
trimming: 
    method: ["trimal", "aliscore", "bmge"] 
    options:
        trimal: "-gappyout"
        aliscore: ""
        bmge: ""
    min_parsimony_sites: 50
    max_rcv_score: 1 # Relative composition variability. Between 0 (filtering everything) and 1 (filter nothing).

# settings related to phylogenetic inference
# phylogenetic method options include iqtree, raxmlng for a concatenated (supermatrix) reconstruction  and astral for species tree reconstruction

modeltest:
    method: ["iqtree"]
    threads: 5
    bootstrap: 1000
    options:
         iqtree: ""

speciestree:
    method: ["astral"]
    include: "" #"data/trees_to_include.txt"
    options:
        astral: ""

mltree:
    method: ["iqtree"] #["iqtree", "raxml"]
    threads:
        iqtree: 20
        raxml: 20
    bootstrap:
        iqtree: 1000
        raxml: 100
    options:
        iqtree: ""
        raxml: ""
        
njtree:
    method: ["quicktree"]
    threads:
        quicktree: 10
    options:
        quicktree: ""

# specific settings for individual tree reconstruction methods
#iqtree:
#    threads: 20 #specifies the maximum number of threads for -ntmax. The real number will be determined with -nt AUTO internally.
#    bootstrap: 1000
#    model: "MFP"
#    additional_params: ""

#raxmlng:
#    threads: 20
#    bootstrap: 100
#    additional_params: ""

# phylobayes is currently not working
bayesian:
    method: [] #["phylobayes"]

phylobayes:
    threads: 30
    model: ""
    ngens: 100
    additional_params: "-f"
    nchains: 4
